$control = -5px -5px 32px 32px
$envelop = -5px -47px 24px 17px
$tag = -5px -74px 24px 38px
$world = -5px -122px 24px 24px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('../images/sprite.png')

